@font-face {
  font-family: "モアリア B";
  font-style: normal;
  font-display: swap;
  src: url("../public/fonts/A-OTF-MoariaStd-Bold.woff2") format("woff2"),
    url("../public/fonts/A-OTF-MoariaStd-Bold.woff") format("woff");
}
