$black: #333333;
$deepBlack: #27241f;
$white: #ffffff;
$theme: #e3a900;
$background: #f7f5f0;
$gray: #eeeeee;
$darkGray: #999999;
$lightGray: #f5f5f5;
$beige: #e3d3a5;
$red: #e73828;

$sansSerif: YuGothic, "Yu Gothic Medium", "Yu Gothic",
  "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
$serif: "游明朝", YuMincho, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN",
  "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
$en: "Helvetica Neue", Arial;
$heading: "モアリア B";

$l: 1442px;
$m: 1069px;
$s: 768px;
$xs: 481px;

$rounded: 30px;
$gapXS: 0.3rem;
$gapS: 0.6rem;
$gapM: 1.2rem;
$gapL: 2.4rem;
$gapXL: 4.8rem;
